html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}
@media screen and (max-width: 342px) {
  .pytania, .wynik, .navi{
    width: 80%;
    max-width: 350px;
    padding-bottom: 100px ;
  }
  footer{
    height: 150px;
  }
  input [type=text]{
    width: 60%;
  }
}
@media screen and (max-width: 532px) {
  .pytania, .wynik, .navi{
    width: 80%;
    max-width: 350px;
    padding-bottom: 80px ;
  }
  footer{
    height: 80px;
  }
  input [type=text]{
    width: 60%;
  }
}

@media screen and (min-width:532px) and (max-width: 1200px) {
  .pytania, .wynik, .navi{
    width: 40%;
    min-width: 250px;
    padding-bottom: 50px;
  }
  footer{
    height: 40px;
  }
  input [type=text]{
    width: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .pytania, .wynik, .navi{
    width: 25%;
    padding-bottom: 50px;    
  }
  footer{    
    height: 40px;
  }
  input [type=text]{
    width: 40%;
  }
}

body {
    background-image: url('flag_brick.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;  
    background-attachment: fixed;
    clear: both;    
    float: left;
    width: 100%;
    font-size: 30px;
    font-family: Verdana;
    color: lightgreen;
    min-height: 100%;
}

.pytania>form>h2 {
    color: plum;
    text-align:center;
    font-family: 'Comic Sans MS';
    font-size: 30px;
}
.pytania, .wynik, .navi{
  background-color: rgba(0,0,0,0.4);
  color: whitesmoke;
  font-family: Verdana;
  padding-left: 20px;  
  padding-right: 20px;
  padding-top: 0px;
}
.pytania {    
    text-align: center;
    border-radius: 30px;    
    margin: auto;    
  }
  .pytania>form{
    display: inline-block;
    text-align: center;
  }
.wynik { 
  text-align:left;
  border-radius: 30px;    
  margin: auto;
  text-transform: capitalize;
}

.navi{
  margin: auto;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
  vertical-align: middle; 
  border-radius: 20px;
}

.wynik>h1{
  color: lightblue;
}
.wynik>input[type=button],
.pytania>input[type=button]{
  text-align: center;
  margin: auto;
}

input{
  padding: 5px;
  background-color: #eee;
  border-radius: 10px;
}


input:focus[type=text]{
  width: 95%;
}

.wynik>form>input[type = 'submit'],
.pytania>form>input[type = 'submit'],
.navi>#ANG>form>input[type = 'submit']{
  height: 50px;
  margin: 10px;
  width: 70%;
  font-weight: bold;
  font-size: 35px;
}
.navi>#ANG>form>input[type = 'submit']{  
  /*background-image: url(imperator.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #F00;
  text-shadow: 0 0 5px black;
  */
  font-size: 20px;
  width: auto;
}

nav {
    text-align: left;
}


footer {
    clear: both;
    position: fixed;
    width: 100%;
    background-color: black;
    color: #22F;
    text-align: center;
    bottom: 0;
    padding:0;
    vertical-align: middle;    
}
#ANG{
  display: inline-flex;
}