html, body{
  margin: 0 !important;
  padding: 0 ;
  height: 100%;
}
body {
    background-image: url('flag_brick.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;  
    background-attachment: fixed;
    width: 100%;
    font-size: 30px;
    font-family: "Roboto";
    color: lightgreen;
    min-height: 100%;
}                                                                                                  /* NAPRAWIĆ COLAPSING MARGIN W BODY */
/* RESPONSYWNA CZĘŚĆ STRONY */
@media screen and (max-width: 342px) {
  #pytania, #wynik, #navi{
    width: 80%;
    max-width: 350px;
    padding-bottom: 120px ;
  }
  footer{
    height: 120px;
  }
  input [type=text]{
    width: 60%;
  }
}
@media screen and (min-width: 342px) and (max-width: 532px) {
  #pytania, #wynik, #navi{
    width: 80%;
    max-width: 350px;
    padding-bottom: 80px ;
  }
  footer{
    height: 80px;
  }
  input [type=text]{
    width: 60%;
  }
}

@media screen and (min-width:532px) and (max-width: 1200px) {
  #pytania, #wynik, #navi{
    width: 40%;
    min-width: 250px;
    padding-bottom: 50px;
    min-width: 345px;
  }
  footer{
    height: 40px;
  }
  input [type=text]{
    width: 150px;
  }
}
@media screen and (min-width: 1201px) {
  #pytania, #wynik, #navi{
    width: 25%;
    padding-bottom: 50px;
    min-width: 743px;
  }
  footer{    
    height: 40px;
  }
  input [type=text]{
    width: 40%;
  }
}

 /* Statyczna część strony */
#pytania>form>h2 {
    color: plum;
    text-align:center;
    font-family: 'Merriweather', serif; /* serif - czcionka szeryfowa. sans-serif - bezszeryfowa  */
    font-size: 30px;
    font-weight: 700;
}
#pytania, #wynik, #navi{
  background-color: rgba(0,0,0,0.4);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  margin: auto;
  padding-left: 20px;  
  padding-right: 20px;
  padding-top: 0px;
  border-radius: 30px;    
}
#pytania {
    text-align: center;
  }
  #pytania>form{
    display: inline-block;
    text-align: center;
  }
#wynik { 
  text-align: center;
  text-transform: capitalize;
}

#navi{
  text-align: center;
  padding: 20px;
  align-self: center;
}
#navi>h2{
  letter-spacing: 2px;
}

#wynik>h1{
  color: #44F;
}
#wynik>input[type=button],
#pytania>input[type=button]{
  text-align: center;
  margin: auto;
}
#wynik>input[type=button]:hover,
#pytania>input[type=button]:hover{
  cursor: pointer;
  background-color: #55F;
}

input{
  padding: 5px;
  background-color: #333;
  color: whitesmoke;
  border-radius: 10px;
  outline: none;
}


input:focus[type=text]{
  width: 95%;
  
}

#wynik>form>input[type = 'submit'],
#pytania>form>input[type = 'submit'],
#navi>.ANG>form>input[type = 'submit']{
  height: 50px;
  margin: 10px;
  width: 95%;
  font-weight: bold;
  font-family: "Merriweather";
  font-size: 35px;
  letter-spacing: 2px;
}
#wynik>form>input[type = 'submit']:hover,
#pytania>form>input[type = 'submit']:hover{
  cursor: pointer;
  background-color: #66F;
}
#navi>.ANG>form>input[type = 'submit']{  
  /*background-image: url(imperator.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;  
  color: #F00;
  */
  text-shadow: 0 0 5px black;
  font-size: 20px;
  width: 150px;
}

nav {
    text-align: left;
    margin: 10px 15px;
    position: fixed;
}

nav>form>input{
  font-size: 22px;
}
nav>form>input:hover{
  cursor: pointer;
  background-color: #55F;
}
@media screen and (max-width: 550px) {
  
}

footer {
    clear: both;
    position: fixed;
    width: 100%;
    background-color: black;
    color: #22F;
    text-align: center;
    bottom: 0;
    padding:0;
    vertical-align: middle;
    font-family: "Merriweather", serif;
}
.ANG{
  display: inline-flex;
  font-family: "Merriweather", serif;
}



.ANG>form>input:hover{
  cursor: pointer;
  background-color: #55F;
}
#wrapper{
  display: flex;
  justify-content: center;
  align-items: center; 
  width: 100%;
  min-height: 100% ;
}